/* Reset and base styles  */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

/* Links */

a, a:visited  {
  color: inherit;
  text-decoration: none;
}

a:hover  {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

/* Form */

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
html{

  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body{
position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
height: 100%;
margin: 0;
line-height: 1.65;
font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Poppins','NunitoSans', sans-serif;
font-size: 16px;
font-weight: 400;
min-width: 320px;
direction: ltr;
font-feature-settings: 'kern';
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
scroll-behavior: smooth;
}
@font-face {
font-family: "Poppins";
src: url("../public/static/Fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
@font-face {
  font-family: "NunitoSans";
  src: url("../public/static/Fonts/Nunito_Sans/NunitoSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
.image{
  background-color: #f1f3f4;
}
.article_title:hover{
  text-decoration: underline;
}
.yn{
  font-weight: 600;
  font-size: 21px;
  color: orangered;
  font-family: 'NunitoSans',sans-serif;
}
.gl{
  font-weight: 600;
  font-size: 21px;
  color: cornflowerblue;
  font-family: 'Poppins', sans-serif;
}
.searchfield{
  display: none;
}
.container {
  padding: 0 15px;
}
.container_left{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  transition: margin-left .25s cubic-bezier(0.4,0.0,0.2,1),visibility 0s linear 0s;
}
.title_post{
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 30px;
  max-width: 768px;
}
.container_text{
  margin-bottom: 30px;
  padding-top: 30px;
  max-width: 768px;
}
.key_plate{
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  padding: 10px 10px 10px 0px;
}
.key_item{
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  background: #f1f3f4;
  border: 1px solid transparent;
  margin-right: 8px;
  margin-left: 8px;
}
.post_img{
  display: block;
  position: relative;
  height:432px;
  max-width:768px;
}
.article_card{
  display: block;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  box-shadow: none;
  margin-bottom: 8px;

}
.article{
  font-family: arial,sans-serif;
  clear: both;
  margin-left: 0;
  box-sizing: border-box;
  position: relative;
}
.article_inner{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
a{
  color: #1a0dab;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,.10);
}
.article_box{
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.article_left{
  margin: 16px 16px 16px 0;
}
.image{
  border-radius: 5px;
}
.article_right{
  flex-grow: 1;
  width: 0;
  padding: 16px 0 40px;
  position: relative;

}
.article_title{
  display: block;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.3333333333333333em;
  color: #202124;
  font-family: Roboto-Medium,sans-serif;
  cursor: pointer;
}
.tags_title{
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-top: 30px;
}
.article_desc{
  color: #3c4043;
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.4285714285714286em;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.article_meta{
  color: #70757a;
  font-size: 12px;
  line-height: 1.6666666666666667em;
  margin-bottom: 0;
  margin-top: 0;
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100%;
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
  .sticky_head{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .yn{
    font-weight: 600;
    font-size: 23px;
    color: orangered;
    font-family: 'NunitoSans',sans-serif;
  }
  .gl{
    font-weight: 600;
    font-size: 23px;
    color: cornflowerblue;
    font-family: 'Poppins', sans-serif;
  }
  .searchfield{
    display: block;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}

.title_post{
  font-family: "PT Sans",times,sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.bbemp{
  height: 50px;
}
.sticky_head{
  width: 100%;
  background: #fff;
  z-index: 999;
  box-shadow:0 1px 6px 0 rgba(32 33 36 0.28);
}
.container_head{
}
.items{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 10px 10px 0px;
  cursor: pointer;
  overflow-x: scroll;
}
.container_head ::-webkit-scrollbar{
  width: 0;
}
.cattext{
  border-radius: 8px;
  background: #f1f3f4;
  border: 1px solid transparent;
  margin-right: 10px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.ctext{
  padding: 5px 10px;
  width: 100%;
  max-height: 38px;
  text-align: center;
}
.catname{
  color: black;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
  -webkit-line-clamp: 1;
  vertical-align: middle;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.catname:hover{
  text-decoration: underline;
}
.bottom_bar{
  padding-top: 5px;
  padding-bottom: 5px;
}
.row {
  height: 65px;
  min-width: 100px;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}

.row:nth-child(1n) {
  background: #7b7;
}

.row:nth-child(2n) {
  background: #7c7;
}

.container {
  white-space: nowrap;
}
