.header {
    background: white;
    padding-top: 7px;
    padding-bottom: 6px;
    border-bottom: 1px solid #d6d6d6;
    line-height: 1;
    box-shadow: 0 1px 6px 0 rgba(32 ,33, 36,0.15);
    position: sticky;
    top: 0;
    z-index: 10;
}
.header_logo{
    font-weight: 600;
    font-size: 24px;
    margin-right: 30px;
    margin-left: 30px;
}

.header_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav {
    margin-left: 172px;
    font-weight: 500;
    color: #292929;
}

.header_nav ul {
    display: flex;
}

.header_nav li + li {
    margin-left: 70px;
}

.header_nav a {
    transition: color 0.2s ease;
}

.header_nav a:hover {
    color: #01996d;
}

.header_login {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.header_login > * + * {
    margin-left: 35px;
}

.header_login_link {
    margin-top: -1px;
    color: #000;
    transition: color 0.2s ease;
}

.header_login_link:hover {
    color: #01996d;
}

@media (max-width: 1199px) {
    .header_row {
        justify-content: space-between;
    }
    .header_nav {
        margin-left: 30px;
    }
    .header_nav li + li {
        margin-left: 50px;
    }
    .header_login {
        margin-left: 30px;
    }
    .hamburger{
        display: flex;
        justify-content: flex-end;
    }
}



